$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_arrow_deg: "\e900";
$icon_arrow_left: "\e901";
$icon_arrow_right: "\e902";
$icon_arrow_top: "\e903";
$icon_arrow_bottom: "\e904";
$icon_close: "\e905";
$icon_facebook: "\e906";
$icon_insta: "\e907";
$icon_phone: "\e908";
$icon_twitter: "\e909";
$icon_vk: "\e90a";
$icon_pdf: "\e90b";
$icon_polygon: "\e90c";

