@media (min-width: 768px) {}
@media (min-width: 1366px) {}
@media (min-width: 1920px) {}

.others {
    overflow: hidden;

    &__list {
        margin-top: 1.25em;
        display: flex;

        overflow-y: auto;
        padding-bottom: 1em;
        font-size: 1em;

        @media (min-width: 768px) {
            font-size: 1.25em;
        }
        @media (min-width: 1366px) {
            font-size: 0.8em;
            margin-top: 3em;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 11.125em;
            grid-gap: 1.875em;

        }

        @media (min-width: 1920px) {
            margin-top: 3.75em;
            font-size: 1em;
        }
    }

    &__item {
        position: relative;
        text-decoration: none;
        color: $color_white;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        flex: none;

        width: 13.75em;
        height: 7.5em;
        margin-right: 0.9375em;

        &:last-child {
            margin-right: 0;
        }

        padding: 1.25em 1em;

        // @media (min-width: 768px) {}
        @media (min-width: 1366px) {
            width: auto;
            height: auto;
            margin: 0;
            padding: 1.875em 1.6875em;
        }
        @media (min-width: 1920px) {}

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: block;

            background-color: $color_warning;
            opacity: 0;
            transition: 0.3s;

        }

        &:hover {
            &:after {
                opacity: 1;

            }
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../img/waves_sm_bg.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        video {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        position: relative;
        z-index: 1;

        span {
            font-weight: 400;
            font-size: 0.75em;
        }
        @media (min-width: 768px) {}
        @media (min-width: 1366px) {
            span {
                font-weight: 400;
                font-size: 1.25em;
            }
        }
        @media (min-width: 1920px) {
            span {
                font-weight: 400;
                font-size: 1.25em;
            }
        }
    }

}
