.singlepage {
    &__img {
        height: 13.75em;
        @media (min-width: 768px) {
            height: 14.625em;
        }
        @media (min-width: 1366px) {
            height: 23.125em;
        }
        @media (min-width: 1920px) {
            height: 33.5em;
        }
    }

    &__info {
        padding-top: 1.875em;
        @media (min-width: 768px) {
            padding-top: 2.5em;
        }
        @media (min-width: 1366px) {
            padding-top: 4em;
        }
        @media (min-width: 1920px) {
            padding-top: 5.625em;
        }

        p,
        ul {
            font-weight: 300;
            margin: 0;

            font-size: 0.875em;

            @media (min-width: 1366px) {
                font-size: 1.125em;
            }

            @media (min-width: 1920px) {
                font-size: 1.25em;
            }
        }

        p {
            margin-bottom: 0.625em;
            @media (min-width: 1366px) {
                margin-bottom: 1em;
            }
        }

        ul {
            list-style: none;
            padding-left: 0.875em;

            li {
                position: relative;
                margin-bottom: 0.5em;

                @media (min-width: 1366px) {
                    margin-bottom: 0.3em;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0.7em;
                    left: -0.8em;

                    display: block;
                    width: 0.125em;
                    height: 0.125em;
                    border-radius: 100%;
                    background-color: $color_primary;
                }
            }
        }

        .singlepage__row {
            margin-bottom: 1.25em;

            &:last-child {
                margin-bottom: 0;
            }

            @media (min-width: 1366px) {
                margin-bottom: 2.5em;
            }
            @media (min-width: 1920px) {
                margin-bottom: 4.375em;
            }

        }

        .singlepage__col {
            &:last-child {
                border-bottom: 0.0625em solid #E2E2E2;
                padding-bottom: 1.25em;
            }

            @media (min-width: 1366px) {
                &:first-child {
                    width: 20%;
                }

                &:last-child {
                    width: 54em;
                    padding-bottom: 2em;
                }
            }
            @media (min-width: 1920px) {
                &:first-child {
                    width: 25%;
                }

                &:last-child {
                    width: 68.125em;
                    padding-bottom: 2.5em;
                }
            }
        }

        .singlepage__label {
            @media (min-width: 1366px) {
                margin-bottom: 0;
            }
        }
    }

    &__completed {
        .singlepage__col {
            &:first-child {
                margin-bottom: 1.875em;

                li {
                    margin-bottom: 2.5em;
                    line-height: 1.4;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        &:before {
                            content: '—';
                            display: inline-block;
                            margin-right: 0.75em;
                            transform: translateY(-0.0625em);
                        }
                    }
                }
            }

            &:last-child {
                ul {
                    padding-left: 1.25em;
                    margin-top: 2.375em;
                }

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5em;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        margin-left: 1.57em;
                    }
                }

            }

            @media (min-width: 1366px) {
                &:first-child {
                    margin-bottom: 0;

                    width: 34em;

                    li {
                        line-height: 1.215;
                    }

                }

                &:last-child {
                    width: 30em;

                    ul {
                        margin-top: 4em;
                    }
                }

            }
            @media (min-width: 1920px) {
                &:first-child {
                    width: 45.625em;
                }

                &:last-child {
                    width: 38.125em;

                    ul {
                        margin-top: 4.5em;
                    }
                }

            }

        }

        .singlepage__label {
            color: $color_white;
        }

        .pulse {
            background-color: $color_white;
            font-size: 2.75em;

            &:before {
                background-color: rgba($color_white, 0.2);

            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            font-size: 0.5em;

            li {}

            span {
                font-size: 1.75em;
                font-weight: 300;
            }
            @media (min-width: 768px) {
                font-size: 0.5714em;
            }
            @media (min-width: 1366px) {
                font-size: 0.75em;
            }
            @media (min-width: 1920px) {
                font-size: 1em;
            }
        }

        position: relative;
        overflow: hidden;
        background-color: $color_warning;
        color: $color_white;

        @media (min-width: 1920px) {
            padding-top: 9.125em;
            padding-bottom: 11.25em;
        }

        .rotation__wrap {
            bottom: 0;
            right: 0;
        }

        .rotation {
            bottom: -6.6em;
            background-image: url("../img/rotation_sm_dark.png");
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            background-image: url("../../img/wave_small.png");
            height: 18.75em;
            @media (min-width: 768px) {
                bottom: 0;
                background-image: url("../../img/wave_medium.png");
                height: 20.4375em;
            }
            @media (min-width: 1366px) {
                bottom: -7em;
                background-image: url("../../img/wave_large.png");
                height: 39.125em;
            }
            @media (min-width: 1920px) {
                bottom: -9em;
                background-image: url("../../img/wave.webp");
                height: 52.75em;
            }
        }
    }

    &__results {
        overflow: hidden;

        .swiper {
            width: 28.4375em;
            @media (min-width: 768px) {
                width: 54em;
            }
            @media (min-width: 1366px) {
                width: auto;
            }
        }

        .swiper-wrapper {
            @media (min-width: 1366px) {
                transform: none;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: minmax(12em, auto);
                grid-gap: 1.5em;
            }
            @media (min-width: 1920px) {
                grid-auto-rows: minmax(14.75em, auto);
                grid-gap: 1.875em;
            }
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 0.0625em solid #E2E2E2;

            padding: 0.9375em;
            background-color: $color_white;

            @media (max-width: 1365px) {
                min-height: 8.4375em;
            }
            @media (min-width: 1366px) {
                padding: 2em 1.5em 1.25em;
                background-color: $color_light_bg;
            }
            @media (min-width: 1920px) {
                padding: 2.375em 2em 2.125em;
            }
        }

        .swiper__dotted {
            @media (min-width: 1366px) {
                display: none;
            }
        }

        .singlepage__number {
            line-height: 1.25;
            margin-bottom: 0.75em;
            @media (min-width: 1366px) {
                margin-bottom: 1.25em;
                line-height: 1.35;
            }
            @media (min-width: 1920px) {
                line-height: 1.5;
            }

            span {
                font-weight: 500;
                font-size: 0.875em;
                color: $color_warning;

                @media (min-width: 1366px) {
                    font-size: 1.125em;
                }

                @media (min-width: 1920px) {
                    font-size: 1.25em;
                }
            }
        }

        .section__text {
            min-height: 3.25em;
            @media (min-width: 768px) {
                min-height: 2.5em;
            }
            @media (min-width: 1366px) {
                min-height: 3.125em;

            }
            @media (min-width: 1920px) {
                min-height: 3.75em;
            }
        }
    }

    &__row {
        @media (min-width: 1366px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {}

    &__label {
        color: $color_primary;

        margin-bottom: 0.9375em;

        @media (min-width: 1366px) {
            margin-bottom: 2.5em;
        }
        @media (min-width: 1920px) {
            margin-bottom: 3.75em;
            line-height: 1.4;
        }

        span {
            font-size: 1.125em;
            @media (min-width: 768px) {
                font-size: 1.25em;
            }
            @media (min-width: 1366px) {
                font-size: 1.625em;
            }
            @media (min-width: 1920px) {
                font-size: 2.25em;
            }
        }
    }

}
