extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = true;
    -var wrapper_class = 'wrapper_light'; // wrapper_dark, wrapper_light


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Главная

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb Новости

    // end breadcrumbs

    // begin newspage
    section#newspage.newspage.section.section_first
        .container_center

            h2.section__title.section__title_primary.animate-js(data-aos="fade-up" data-aos-delay="400")
                span Новости

            ul.cat-list.filter-cat-js

                li.cat-item.filter-cat-js
                    input(type="radio" id="term_id_1" name="cat_name" value="term_id_1" checked)
                    label(for="term_id_1")
                        span Все

                each item in [ {id: '2', label: 'Коммуникации'}, {id: '3', label: 'Защитное оборудование'}, {id: '4', label: 'Сервера'} ]

                    li.cat-item.filter-cat-js
                        input(type="radio" id="term_id_"+item.id+"" name="cat_name" value="term_id_"+item.id+"")
                        label(for="term_id_"+item.id+"")
                            span=item.label

            .newspage__grid
                each item in ['', '', '', '', '', '', '', ]
                    a.news__content(href="#")
                        .news__date
                            span 25/01/2023
                        .news__title
                            span Данные клиентов puma выставлены на продажу
                        .news__excerpt
                            span Компания допустила масштабную утечку данных, теперь они выставлены на продажу.
                        .news__arrow
                            i.icon_arrow_right

                //- .pagination
                //-     span.current 1
                //-     a(href="#") 2
                //-     span.dots ...
                //-     a(href="#") 10
                //-     a.next



    // end newspage
