.firman {
    &__list {
        display: grid;

        border: 0.0625em solid rgba($color_white, 0.2);
        border-bottom: 0;
        border-right: 0;

        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(11em, auto);
        @media (min-width: 768px) {
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: minmax(13em, auto);
        }
        @media (min-width: 1366px) {
            grid-auto-rows: minmax(16.125em, auto);
        }
        @media (min-width: 1920px) {
            grid-auto-rows: minmax(20.75em, auto);
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;

        border: 0.0625em solid rgba($color_white, 0.2);
        border-top: 0;
        border-left: 0;

        padding: 1em 0.75em;

        @media (min-width: 768px) {
            padding: 1.5em 1em;
        }
        @media (min-width: 1366px) {
            padding: 1.5em 1em;
        }
        @media (min-width: 1920px) {
            padding: 2.25em 4.125em 2.25em 2.25em;
        }
    }

    &__img {
        flex: none;
        width: 11.375em;
        height: 16.25em;

        font-size: 0.55em;
        @media (min-width: 768px) {
            font-size: 0.6em;
        }
        @media (min-width: 1366px) {
            font-size: 0.8em;
        }
        @media (min-width: 1920px) {
            font-size: 1em;
        }
    }

    &__content {
        flex: none;
        width: 13em;
        margin-top: 0.625em;

        @media (min-width: 768px) {
            width: 12em;
        }
        @media (min-width: 1366px) {
            width: 14em;
        }
        @media (min-width: 1920px) {
            width: 18.125em;
        }

    }

    &__title {
        span {
            font-weight: 300;
            font-size: 1.125em;
        }
        @media (min-width: 1366px) {
            span {
                font-size: 1.5em;
            }
        }
        @media (min-width: 1920px) {
            span {
                font-size: 1.75em;
            }
        }
    }

    .section__text {
        margin-top: 0.5em;
        @media (min-width: 1920px) {
            margin-top: 0.9375em;
        }
    }
}
