extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = false;
    -var wrapper_class = 'wrapper_light'; // wrapper_dark, wrapper_light


block content


    <div id="notfound">
        <div class="notfound">
            <div>
                <div class="notfound-404"><i>!</i></div>
                <h1>ОШИБКА 404</h1>
            </div>

            <p>Возможно эта страница устарела или никогда не существовала. Попробуйте найти нужную Вам информацию на: <a href="#">главной странице</a></p>
        </div>
    </div>
