/* Global variables */
/* ======================================================================== */
$main_font_family: "Jost";
$second_font_family: "Roboto Slab";

$main_color: #1A1A1A;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width_sm: 46.875em;
$container_width_lg: 73.25em;
$container_width: 105em;

$footer_height: auto;

// Color collection for elements
$color_primary: #3D3A3E;

$color_success: #36a566;
$color_info: #03a9f4;
$color_warning: #E55000;
$color_danger: #E60000;
$color_white: #ffffff;
$color_black: #000000;

$color_dark_bg: #252525;
$color_light_bg: #FCFAFA;

$color_cat_main: #23272D;
$color_cat_border: #E2E2E2;