{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1681664652516.2136,
          "ctimeMs": 1681664652516.2136,
          "date": "2023-04-16T17:15:01.788Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1664980913000,
          "ctimeMs": 1680637392337.146,
          "date": "2023-04-11T12:47:05.074Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1664980926000,
          "ctimeMs": 1680637392339.721,
          "date": "2023-04-11T12:47:05.206Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1681665263075.4673,
          "ctimeMs": 1681665263075.4673,
          "date": "2023-04-16T17:15:02.105Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1664980959000,
          "ctimeMs": 1680637392339.0547,
          "date": "2023-04-11T12:47:05.484Z"
        },
        {
          "file": "fonts/Jost/Jost-Black.eot",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.5073,
          "date": "2023-04-11T12:47:05.652Z"
        },
        {
          "file": "fonts/Jost/Jost-Black.ttf",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.797,
          "date": "2023-04-11T12:47:05.824Z"
        },
        {
          "file": "fonts/Jost/Jost-Black.woff",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.2534,
          "date": "2023-04-11T12:47:05.990Z"
        },
        {
          "file": "fonts/Jost/Jost-Black.woff2",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.2197,
          "date": "2023-04-11T12:47:06.149Z"
        },
        {
          "file": "fonts/Jost/Jost-Bold.eot",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.8674,
          "date": "2023-04-11T12:47:06.337Z"
        },
        {
          "file": "fonts/Jost/Jost-Bold.ttf",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.5422,
          "date": "2023-04-11T12:47:06.506Z"
        },
        {
          "file": "fonts/Jost/Jost-Bold.woff",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.566,
          "date": "2023-04-11T12:47:06.667Z"
        },
        {
          "file": "fonts/Jost/Jost-Bold.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.4827,
          "date": "2023-04-11T12:47:06.817Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraBold.eot",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.144,
          "date": "2023-04-11T12:47:06.988Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraBold.ttf",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.9507,
          "date": "2023-04-11T12:47:07.168Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraBold.woff",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.0125,
          "date": "2023-04-11T12:47:07.322Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraBold.woff2",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.0981,
          "date": "2023-04-11T12:47:07.469Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraLight.eot",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.8467,
          "date": "2023-04-11T12:47:07.652Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraLight.ttf",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.6802,
          "date": "2023-04-11T12:47:07.825Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraLight.woff",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.271,
          "date": "2023-04-11T12:47:07.971Z"
        },
        {
          "file": "fonts/Jost/Jost-ExtraLight.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.5942,
          "date": "2023-04-11T12:47:08.118Z"
        },
        {
          "file": "fonts/Jost/Jost-Light.eot",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.2,
          "date": "2023-04-11T12:47:08.290Z"
        },
        {
          "file": "fonts/Jost/Jost-Light.ttf",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.0322,
          "date": "2023-04-11T12:47:08.476Z"
        },
        {
          "file": "fonts/Jost/Jost-Light.woff",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.8206,
          "date": "2023-04-11T12:47:08.618Z"
        },
        {
          "file": "fonts/Jost/Jost-Light.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.0723,
          "date": "2023-04-11T12:47:08.767Z"
        },
        {
          "file": "fonts/Jost/Jost-Medium.eot",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.7568,
          "date": "2023-04-11T12:47:08.932Z"
        },
        {
          "file": "fonts/Jost/Jost-Medium.ttf",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.9143,
          "date": "2023-04-11T12:47:09.099Z"
        },
        {
          "file": "fonts/Jost/Jost-Medium.woff",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.661,
          "date": "2023-04-11T12:47:09.266Z"
        },
        {
          "file": "fonts/Jost/Jost-Medium.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.636,
          "date": "2023-04-11T12:47:09.416Z"
        },
        {
          "file": "fonts/Jost/Jost-Regular.eot",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.1199,
          "date": "2023-04-11T12:47:09.584Z"
        },
        {
          "file": "fonts/Jost/Jost-Regular.ttf",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.9312,
          "date": "2023-04-11T12:47:09.767Z"
        },
        {
          "file": "fonts/Jost/Jost-Regular.woff",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.7761,
          "date": "2023-04-11T12:47:09.926Z"
        },
        {
          "file": "fonts/Jost/Jost-Regular.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.736,
          "date": "2023-04-11T12:47:10.067Z"
        },
        {
          "file": "fonts/Jost/Jost-SemiBold.eot",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.9915,
          "date": "2023-04-11T12:47:10.257Z"
        },
        {
          "file": "fonts/Jost/Jost-SemiBold.ttf",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.2368,
          "date": "2023-04-11T12:47:10.427Z"
        },
        {
          "file": "fonts/Jost/Jost-SemiBold.woff",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.618,
          "date": "2023-04-11T12:47:10.589Z"
        },
        {
          "file": "fonts/Jost/Jost-SemiBold.woff2",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.1802,
          "date": "2023-04-11T12:47:10.735Z"
        },
        {
          "file": "fonts/Jost/Jost-Thin.eot",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.8901,
          "date": "2023-04-11T12:47:10.909Z"
        },
        {
          "file": "fonts/Jost/Jost-Thin.ttf",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.7,
          "date": "2023-04-11T12:47:11.092Z"
        },
        {
          "file": "fonts/Jost/Jost-Thin.woff",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833741.0503,
          "date": "2023-04-11T12:47:11.241Z"
        },
        {
          "file": "fonts/Jost/Jost-Thin.woff2",
          "mtimeMs": 1680681811000,
          "ctimeMs": 1680681833740.7173,
          "date": "2023-04-11T12:47:11.400Z"
        },
        {
          "file": "fonts/Jost/demo.html",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833741.1628,
          "date": "2023-04-11T12:47:11.552Z"
        },
        {
          "file": "fonts/Jost/stylesheet.css",
          "mtimeMs": 1680681812000,
          "ctimeMs": 1680681833740.97,
          "date": "2023-04-11T12:47:11.682Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.6287,
          "date": "2023-04-11T12:47:11.821Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.645,
          "date": "2023-04-11T12:47:11.950Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.612,
          "date": "2023-04-11T12:47:12.084Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.5964,
          "date": "2023-04-11T12:47:12.216Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.5337,
          "date": "2023-04-11T12:47:12.375Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.5522,
          "date": "2023-04-11T12:47:12.516Z"
        },
        {
          "file": "fonts/icon/fonts/icon.eot",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.7407,
          "date": "2023-04-11T12:47:12.667Z"
        },
        {
          "file": "fonts/icon/fonts/icon.svg",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.7214,
          "date": "2023-04-11T12:47:12.802Z"
        },
        {
          "file": "fonts/icon/fonts/icon.ttf",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.781,
          "date": "2023-04-11T12:47:12.949Z"
        },
        {
          "file": "fonts/icon/fonts/icon.woff",
          "mtimeMs": 1680693934000,
          "ctimeMs": 1680693950898.763,
          "date": "2023-04-11T12:47:13.107Z"
        },
        {
          "file": "img/license_1.png",
          "mtimeMs": 1680621592000,
          "ctimeMs": 1680688219977.692,
          "date": "2023-04-11T12:47:13.224Z"
        },
        {
          "file": "img/license_2.png",
          "mtimeMs": 1680621545000,
          "ctimeMs": 1680719531022.39,
          "date": "2023-04-11T12:47:13.332Z"
        },
        {
          "file": "img/license_3.png",
          "mtimeMs": 1680621618000,
          "ctimeMs": 1680688231711.553,
          "date": "2023-04-11T12:47:13.440Z"
        },
        {
          "file": "img/license_4.png",
          "mtimeMs": 1680719521069.8298,
          "ctimeMs": 1680719992073.2126,
          "date": "2023-04-11T12:47:13.549Z"
        },
        {
          "file": "img/licenses.jpg",
          "mtimeMs": 1681214446006.23,
          "ctimeMs": 1681214446006.23,
          "date": "2023-04-11T12:47:13.726Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1680621726000,
          "ctimeMs": 1680681873485.8506,
          "date": "2023-04-11T12:47:13.842Z"
        },
        {
          "file": "img/logo_w.png",
          "mtimeMs": 1680621774000,
          "ctimeMs": 1680680580110.6365,
          "date": "2023-04-11T12:47:13.967Z"
        },
        {
          "file": "img/nav_bg.jpg",
          "mtimeMs": 1680703536469.321,
          "ctimeMs": 1680703564057.3333,
          "date": "2023-04-11T12:47:14.131Z"
        },
        {
          "file": "img/nav_bg_m.jpg",
          "mtimeMs": 1680709562918.4775,
          "ctimeMs": 1680709590788.4363,
          "date": "2023-04-11T12:47:14.281Z"
        },
        {
          "file": "img/rotation.png",
          "mtimeMs": 1681051507252.7705,
          "ctimeMs": 1681052362450.5984,
          "date": "2023-04-11T12:47:14.454Z"
        },
        {
          "file": "img/video_bg.webp",
          "mtimeMs": 1681215754161.4263,
          "ctimeMs": 1681215787289.458,
          "date": "2023-04-11T12:47:14.633Z"
        },
        {
          "file": "img/wave.webp",
          "mtimeMs": 1680980433321.6821,
          "ctimeMs": 1681037935422.723,
          "date": "2023-04-11T12:47:14.771Z"
        },
        {
          "file": "img/wave_large.png",
          "mtimeMs": 1681038527755.9773,
          "ctimeMs": 1681038552956.3884,
          "date": "2023-04-11T12:47:14.975Z"
        },
        {
          "file": "img/wave_medium.png",
          "mtimeMs": 1681038344952.5627,
          "ctimeMs": 1681038363464.4663,
          "date": "2023-04-11T12:47:15.119Z"
        },
        {
          "file": "img/wave_small.png",
          "mtimeMs": 1681038255110.5337,
          "ctimeMs": 1681038310942.1965,
          "date": "2023-04-11T12:47:15.253Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1664980693000,
          "ctimeMs": 1680637392454.7646,
          "date": "2023-04-11T12:47:15.365Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1664980699000,
          "ctimeMs": 1680637392455.0796,
          "date": "2023-04-11T12:47:15.514Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1681661406938.469,
          "ctimeMs": 1681661406938.469,
          "date": "2023-04-16T17:15:04.680Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1681664865717.2104,
          "ctimeMs": 1681664865717.2104,
          "date": "2023-04-16T17:15:04.808Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1680637392460.9526,
          "date": "2023-04-11T12:47:15.870Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1664980725000,
          "ctimeMs": 1680637392458.362,
          "date": "2023-04-11T12:47:15.981Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1680637392461.248,
          "date": "2023-04-11T12:47:16.098Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1681566434077.7847,
          "ctimeMs": 1681566434077.7847,
          "date": "2023-04-16T17:15:04.937Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1664980873000,
          "ctimeMs": 1680637392460.3257,
          "date": "2023-04-11T12:47:16.407Z"
        },
        {
          "file": "layout/modal.html",
          "mtimeMs": 1679582720000,
          "ctimeMs": 1680637392461.964,
          "date": "2023-04-11T12:47:16.516Z"
        },
        {
          "file": "media/waves.mp4",
          "mtimeMs": 1655285503000,
          "ctimeMs": 1681214905334.4373,
          "date": "2023-04-11T12:47:17.472Z"
        },
        {
          "file": "pages/contacts/index.html",
          "mtimeMs": 1681664652388.195,
          "ctimeMs": 1681664652388.195,
          "date": "2023-04-16T17:15:05.103Z"
        },
        {
          "file": "pages/home/index.html",
          "mtimeMs": 1681664652516.307,
          "ctimeMs": 1681664652516.307,
          "date": "2023-04-16T17:15:05.259Z"
        },
        {
          "file": "css/sections/system.css",
          "mtimeMs": 1681288890422.6636,
          "ctimeMs": 1681288890422.6636,
          "date": "2023-04-12T15:51:51.080Z"
        },
        {
          "file": "img/ellipse_elg.png",
          "mtimeMs": 1681295435386.0322,
          "ctimeMs": 1681295460874.8013,
          "date": "2023-04-12T15:51:51.188Z"
        },
        {
          "file": "img/ellipse_lg.png",
          "mtimeMs": 1681294960970.2083,
          "ctimeMs": 1681295001813.929,
          "date": "2023-04-12T15:51:51.291Z"
        },
        {
          "file": "img/ellipse_sm.png",
          "mtimeMs": 1681294693588.0623,
          "ctimeMs": 1681294751865.598,
          "date": "2023-04-12T15:51:51.404Z"
        },
        {
          "file": "img/home_page_bg.webp",
          "mtimeMs": 1681313781613.629,
          "ctimeMs": 1681313802675.3604,
          "date": "2023-04-12T15:51:51.568Z"
        },
        {
          "file": "img/system_mask.png",
          "mtimeMs": 1681296772477.6362,
          "ctimeMs": 1681296884653.2202,
          "date": "2023-04-12T15:51:51.688Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1681572983872.9695,
          "ctimeMs": 1681572983872.9695,
          "date": "2023-04-16T17:15:01.916Z"
        },
        {
          "file": "img/Industry.svg",
          "mtimeMs": 1681566434074.5808,
          "ctimeMs": 1681566434074.5808,
          "date": "2023-04-16T17:15:02.226Z"
        },
        {
          "file": "img/bag.svg",
          "mtimeMs": 1681566434074.7651,
          "ctimeMs": 1681566434074.7651,
          "date": "2023-04-16T17:15:02.365Z"
        },
        {
          "file": "img/book.svg",
          "mtimeMs": 1681566434074.9456,
          "ctimeMs": 1681566434074.9456,
          "date": "2023-04-16T17:15:02.489Z"
        },
        {
          "file": "img/building.svg",
          "mtimeMs": 1681566434075.1318,
          "ctimeMs": 1681566434075.1318,
          "date": "2023-04-16T17:15:02.612Z"
        },
        {
          "file": "img/cart.svg",
          "mtimeMs": 1681566434075.3123,
          "ctimeMs": 1681566434075.3123,
          "date": "2023-04-16T17:15:02.738Z"
        },
        {
          "file": "img/connection.svg",
          "mtimeMs": 1681566434075.5178,
          "ctimeMs": 1681566434075.5178,
          "date": "2023-04-16T17:15:02.858Z"
        },
        {
          "file": "img/defense.svg",
          "mtimeMs": 1681566434075.7024,
          "ctimeMs": 1681566434075.7024,
          "date": "2023-04-16T17:15:02.993Z"
        },
        {
          "file": "img/energy.svg",
          "mtimeMs": 1681566434075.8975,
          "ctimeMs": 1681566434075.8975,
          "date": "2023-04-16T17:15:03.124Z"
        },
        {
          "file": "img/logo_dark.webp",
          "mtimeMs": 1681584409789.0898,
          "ctimeMs": 1681584645265.22,
          "date": "2023-04-16T17:15:03.277Z"
        },
        {
          "file": "img/logo_grey.webp",
          "mtimeMs": 1681586131715.5835,
          "ctimeMs": 1681586258436.4207,
          "date": "2023-04-16T17:15:03.431Z"
        },
        {
          "file": "img/logo_transparent.webp",
          "mtimeMs": 1681658221046.9524,
          "ctimeMs": 1681658240804.6277,
          "date": "2023-04-16T17:15:03.571Z"
        },
        {
          "file": "img/medicine.svg",
          "mtimeMs": 1681566434076.074,
          "ctimeMs": 1681566434076.074,
          "date": "2023-04-16T17:15:03.686Z"
        },
        {
          "file": "img/rocket.svg",
          "mtimeMs": 1681566434076.2542,
          "ctimeMs": 1681566434076.2542,
          "date": "2023-04-16T17:15:03.815Z"
        },
        {
          "file": "img/science.svg",
          "mtimeMs": 1681566434076.459,
          "ctimeMs": 1681566434076.459,
          "date": "2023-04-16T17:15:03.939Z"
        },
        {
          "file": "img/smi.svg",
          "mtimeMs": 1681566434076.644,
          "ctimeMs": 1681566434076.644,
          "date": "2023-04-16T17:15:04.054Z"
        },
        {
          "file": "img/state.svg",
          "mtimeMs": 1681566434076.9116,
          "ctimeMs": 1681566434076.9116,
          "date": "2023-04-16T17:15:04.198Z"
        },
        {
          "file": "img/tourism.svg",
          "mtimeMs": 1681566434077.1257,
          "ctimeMs": 1681566434077.1257,
          "date": "2023-04-16T17:15:04.316Z"
        },
        {
          "file": "img/transport.svg",
          "mtimeMs": 1681566434077.324,
          "ctimeMs": 1681566434077.324,
          "date": "2023-04-16T17:15:04.436Z"
        },
        {
          "file": "img/water.svg",
          "mtimeMs": 1681566434077.505,
          "ctimeMs": 1681566434077.505,
          "date": "2023-04-16T17:15:04.559Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
