.breadcrumbs {
	padding: 0.625em 0;
	@media (min-width: 768px) {
		padding: 0.9375em 0;
	}

	.aioseo-breadcrumbs {
		a,
		span {
			color: rgba($main_color, 0.8);
			font-weight: 300;
		}

		span {
			font-size: 0.6875em;
			@media (min-width: 768px) {
				font-size: 0.875em;
			}
		}

		a {
			text-decoration: none;
			font-size: 1em;
		}

		.aioseo-breadcrumb-separator {
			margin: 0 0.45em;
		}
	}

	.aioseo-back {
		.aioseo-breadcrumbs {
			a {
				&:before {
					display: inline-block;
					line-height: 0.8;
					content: '\e901';
					font-family: 'icon';
					transform: translateY(0.0625em);
					margin-right: 0.5em;

				}
			}
		}
	}

}

.wrapper_dark {
	.aioseo-breadcrumbs {
		a,
		span {
			color: rgba($color_white, 0.8);
		}
	}
}
