.drop {
    @media (max-width: 1365px) {
        position: relative;
        cursor: pointer;

        .drop__toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 1em;
            border: 0.0625em solid rgba($color_white, 0.2);

            color: rgba($color_white, 1);

            letter-spacing: 0.035em;
            text-transform: uppercase;
            line-height: 1.154;

            &:after {
                content: '\e90d';
                font-family: 'icon';
                font-size: 0.5em;
                opacity: 0.8;
                transform: translateY(0.125em)scale(1);
                transition: 0.3s;
            }

            span {
                font-size: 0.8125em;
                opacity: 0.6;
            }

            &.active {
                border-bottom: 0.0625em solid rgba($color_white, 0);

                &:after {
                    transform: translateY(0.125em)scale(-1);
                }
            }
        }

        .menu {
            margin: 0;
            padding: 0;
            list-style: none;

            position: absolute;
            top: 130%;
            left: 0;
            overflow: hidden;
            z-index: 1;

            width: 100%;
            height: 0;

            background-color: $color_dark_bg;
            border: 0.0625em solid rgba($color_white, 0.2);
            border-top: 0;

            opacity: 0;
            transition: 0.3s;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                border-top: 0.0625em solid rgba($color_white, 0.2);
                transition: 1s;

            }

            &.open {
                height: auto;
                opacity: 1;
                top: 98%;

                &:before {
                    content: '';
                    width: 91%;
                }
            }
        }

        .menu-item {
            letter-spacing: 0.035em;
            text-transform: uppercase;

            a {
                display: block;
                text-decoration: none;
                color: $color_white;
                font-size: 0.8125em;
                padding: 0.7692em 1.23em;

            }

            &:first-child {
                a {
                    padding-top: 1.0769em;
                }
            }

            &:last-child {
                a {
                    padding-bottom: 1.5385em;
                }
            }
        }

        .current-menu-item {
            a {
                opacity: 0.6;
            }
        }

    }

    @media (min-width: 1366px) {
        .menu {
            margin: 0;
            padding: 0;
            list-style: none;
            border: 0.0625em solid rgba($color_white, 0.2);
            border-top: 0;
            border-bottom: 0;
        }

        .menu-item {
            letter-spacing: 0.035em;
            text-transform: uppercase;

            a {
                position: relative;
                display: block;
                padding: 2.125em;
                border-bottom: 0.0625em solid rgba($color_white, 0.2);

                background-color: $color_dark_bg;
                color: $color_white;

                text-decoration: none;

                font-size: 0.75em;
                transition: 0.3;

                &:hover {
                    color: $color_warning;
                    background-color: #131313;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -0.0625em;
                    bottom: -0.0625em;
                    left: -0.0625em;
                    border-left: 0.45em solid;
                    border-color: transparent;
                }
            }

            &:first-child {
                a {
                    border-top: 0.0625em solid rgba($color_white, 0.2);
                }
            }

        }

        .current-menu-item {
            a {
                color: $color_warning;

                &:before {
                    border-color: $color_warning;

                }
            }
        }
    }
    @media (min-width: 1920px) {
        .menu-item {
            a {
                font-size: 0.875em;
            }
        }
    }

}
