/* Header
 ----------------------------------------------------------------------------- */
.header {
	overflow: hidden;
	// background-color: $color_dark_bg;

	&_dark {
		background-color: $color_dark_bg;
	}

	// &_light {
	// 	border-color: #E2E2E2;
	// 	// background-color: #FCFAFA;
	// 	background-color: $color_white;
	//
	// 	.license__link {
	// 		color: $main_color;
	//
	// 		&:hover {
	// 			color: $color_warning;
	// 		}
	// 	}
	//
	// 	.header__col {
	// 		&:after {
	// 			border-color: #E2E2E2;
	// 		}
	// 	}
	//
	// 	.header__col_logo .logo__link {
	// 		color: $main_color;
	// 	}
	//
	// 	.toggle,
	// 	.toggle__button {
	// 		color: $main_color;
	// 	}
	//
	// 	.header__col_toggle .more .menu-item a {
	// 		color: $main_color;
	// 	}
	//
	// 	.language__item,
	// 	.language__label span {
	// 		color: $main_color;
	// 	}
	//
	// 	.phone__link {
	// 		color: $main_color;
	//
	// 		i {
	// 			color: rgba($main_color, 0.2);
	// 		}
	// 	}
	// }

	&__content {
		padding: 0 0.9375em;
		margin-left: auto;
		margin-right: auto;
		max-width: 127.5em;

		@media (min-width: 768px) {
			padding: 0 1.5em;
		}

		@media (min-width: 1366px) {
			padding: 0 2.75em;
		}
		@media (min-width: 1920px) {
			padding: 0 3.75em;

		}
	}

	border-bottom: 0.0625em solid;
	border-color: rgba($color_white, 0.15);

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.969em 0;
		@media (min-width: 1366px) {
			padding: 0.826em 0;
		}
		@media (min-width: 1920px) {
			padding: 1.188em 0;
		}

	}

	&__col {
		position: relative;

		@media (min-width: 768px) {
			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-right: 0.0625em solid;
				border-color: rgba($color_white , 0.15);

				right: -2.5em;
				height: 3.75em;
				@media (min-width: 1920px) {
					right: -3.875em;
					height: 5em;
				}
			}

			&:nth-child(2) {
				@media (max-width: 1365px) {
					&:after {
						right: -7.375em;
					}

				}
			}

		}

		&_logo {
			@media (min-width: 1366px) {
				order: 1;
			}
			// START LOGO
			.logo {
				&__link {
					display: flex;
					align-items: center;
					color: $color_white;
					text-decoration: none;
				}

				&__img {
					width: 2.625em;
					height: 1.8125em;
					margin-right: 1.4375em;
					@media (min-width: 1920px) {
						margin-right: 2.875em;
					}
				}

				&__label {
					letter-spacing: 0.035em;
					text-transform: uppercase;

					span {
						font-size: 0.8125em;

						@media (min-width: 1920px) {
							font-size: 0.875em;
						}
					}
				}
			}
			// END LOGO
		}

		&_phone {
			display: none;
			@media (min-width: 768px) {
				display: block;
			}

			@media (min-width: 1366px) {
				order: 4;

				&:after {
					content: none;
				}
			}
		}

		&_license {
			@media (min-width: 1366px) {
				order: 3;
			}
			display: none;
			@media (min-width: 1366px) {
				display: block;
			}
		}

		// START TOGGLE
		&_toggle {
			@media (min-width: 1366px) {
				order: 2;
			}

			display: flex;
			align-items: center;

			// START MORE
			.more {
				display: none;
				@media (min-width: 1366px) {
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0;
					list-style: none;
					margin-left: 3.375em;
					@media (min-width: 1920px) {
						margin-left: 4em;
						margin-right: 3.375em;

					}

					.menu-item {
						letter-spacing: 0.035em;
						text-transform: uppercase;

						&:first-child {
							margin-right: 2.375em;
							@media (min-width: 1920px) {
								margin-right: 3.5em;
							}
						}

						a {
							color: $color_white;
							text-decoration: none;
							font-size: 0.8125em;
							@media (min-width: 1920px) {
								font-size: 0.875em;
							}
						}

						&:hover {
							a {
								color: $color_warning;
							}
						}
					}
				}
			}
			// END MORE

		}
		// END TOGGLE

	}

	&__nav {
		position: fixed;
		top: 0;
		left: 0;
	}

}

.toggle {
	color: $color_white;
	display: flex;
	align-items: center;
	transition: 0.3s;

	cursor: pointer;

	&:hover {
		color: $color_warning;

		.toggle__button {
			color: $color_warning;

		}
	}

	&__button {
		color: $color_white;
		border: 0.0625em solid;
		border-left: 0;
		border-right: 0;
		transition: 0.3s;

		width: 1.75em;
		height: 0.75em;
		@media (min-width: 768px) {
			width: 2.1875em;
			height: 0.875em;
		}
		@media (min-width: 1920px) {
			width: 3.125em;
			height: 1em;

		}

	}

	&__label {
		letter-spacing: 0.035em;
		text-transform: uppercase;

		margin-left: 0.875em;
		@media (min-width: 1920px) {
			margin-left: 1.875em;
		}

		span {
			font-size: 0.8125em;
			@media (min-width: 1920px) {
				font-size: 0.875em;

			}
		}
	}

}

.phone {
	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $color_white;
		letter-spacing: 0.035em;
		text-transform: uppercase;

		&:hover {
			color: $color_warning;
		}

		i {
			color: rgba($color_white, 0.2);
			margin-right: 1em;
			font-size: 0.875em;

		}

		span {
			font-size: 0.8125em;
			@media (min-width: 1920px) {
				font-size: 0.875em;
			}
		}
	}

}

.language {
	display: none;

	@media (min-width: 1920px) {
		display: block;

		&__label {
			position: relative;

			input {

				display: none;

				&:checked ~ span i {}

				&:checked ~ span {
					&:before {
						opacity: 1;
					}

					&:after {
						opacity: 0;
					}
				}

			}

			span {
				display: block;
				position: relative;
				width: 1.875em;
				height: 1.25em;
				letter-spacing: 0.035em;
				text-transform: uppercase;
				cursor: pointer;

				color: $color_white;

				&:after,
				&:before {
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					font-size: 0.875em;
				}

				&:before {
					content: 'en';
					opacity: 0;
				}

				&:after {
					content: 'ru';
					opacity: 1;
				}

				.icon_polygon {
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%)scale(1);
					right: -0.5em;
					font-size: 0.25em;
					transition: 0.3s;
				}
			}

			&:hover {
				> span {
					color: $color_warning;

				}

				.icon_polygon {
					color: $color_warning;
					transform: translateY(-60%)scale(-1);
				}

				.language__submenu {
					height: auto;
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}

		}

		&__submenu {
			margin: 0;
			padding: 0;

			list-style: none;

			position: absolute;
			width: max-content;
			height: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			top: 140%;
			left: 0;
			transition: 0.3s;
			z-index: 10;
			cursor: pointer;
		}

		&__item {
			font-size: 0.75em;
			color: $color_white;
			line-height: 1;
			padding-right: 1.5em;

			&:hover {
				color: $color_warning;
			}
		}
	}
}

.nav-open {
	overflow: hidden;
}
