.messenger {
    line-height: 0.8;

    &__label {
        margin-bottom: 1.25em;
        @media (min-width: 1920px) {
            margin-bottom: 1.5em;

        }

        span {
            color: rgba($color_white, 0.8);
            font-weight: 300;
            font-size: 0.875em;
            @media (min-width: 1920px) {
                font-size: 1em;

            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 0.8125em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: rgba($color_white, 0.4);
        font-size: 1.625em;

        &:hover {
            color: rgba($color_white, 1);
        }
    }

}
