extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = true;

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Главная

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb
                    a(href="#") Решения

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb IT-Решения


    // end breadcrumbs 

    // begin group
    section#group.group.section.section_first
        .container_center
            .group__caption
                h1.section__title.section__title_primary
                    span IT-решения
                .section__text
                    span Вы маленький стартап или уже зрелый холдинг из нескольких больших предприятий? Мы всегда сможем предложить наиболее эффективные инфраструктурные решения в зависимости от Ваших текущих потребностей!
            .group__list
                each item in ['СКУД Системы контроля и управления доступом', 'Конечные рабочие станции', 'Телефония', 'Видеоконференцсвязь ВКС', 'ИБП', 'Вендора РФ, импортозамещение', 'Колл-центры', 'Мониторинг', 'Резервное копирование', 'Высокопроизводительные кластеры СХД', 'Системы доставки приложений/контента', 'Сервера и серверные решения', 'Частные облака, SDN и управление ими', 'Виртуализация, VDI, контейнеризация', 'Сетевое оборудование, сети передачи данных', ]
                    a(href="#").group__item
                        .group__content
                            .section__text
                                span=item
                            .group__icon
                                i.icon_arrow_deg

        .rotation.rotation_sm



    // end group
