extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = false;
    -var wrapper_class = 'wrapper_dark'; // wrapper_dark, wrapper_light


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Главная

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb
                    a(href="#") Медиа

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb UserGate: Безопасность периметра сети


    // end breadcrumbs 

    // begin media
    section#media.media.section.section_first
        .container_center

            h1.section__title.animate-js(data-aos="fade-up" data-aos-delay="400")
                span UserGate: Безопасность периметра сети

            .media__feedback
                a.feedback.show_modal_js(href="#webinar")
                    .feedback__content
                        .feedback__label
                            span Дата проведения вебинара: 17.06.2022, 12:30
                        .feedback__button
                            span Отправить запрос на участие

                    .feedback__video
                        video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                            source(src="../../media/waves_sm.mp4" type="video/mp4")
                            //- source(src="media/main-video.webm" type="video/webm")
                            //- source(src="media/main-video.m4v" type="video/mp4")
                            //- source(src="media/main-video.ogv" type="video/ogg")



            .single__content
                h2 Подробнее о вебинаре:
                p В ходе вебинара специалисты ответят на следующие вопросы:

                ul 
                    li Безопасность периметра сети в современных условиях;
                    li Функционал решения UserGate;
                    li Практика применения;
                    li Собственные разработки в эпоху импортозамещения;
                    li Новые высокопроизводительные устройства.

                h2 Для кого будет полезен вебинар:

                p Кому будет полезен вебинар: ИТ-директорам, руководителям службы ИБ, ИБ-специалистам и ИТ-специалистам.
                p Вы можете получить запись данного вебинара, сделав запрос у Вашего персонального менеджера или отправив запрос на почту <a href="info@it2bsns.ru">info@it2bsns.ru</a>










    // end media
