
<!-- begin contactus-->
<section class="contactus section" id="contactus">
  <div class="container_center">
    <h2 class="section__title"><span>Свяжитесь с нами</span></h2>
    <div class="contactus__content">
      <div class="contactus__action">
        <div class="contactus__link"><a href="tel:+7 (495) 222-34-69">+7 (495) 222-34-69</a></div>
        <div class="contactus__link contactus__link_mail"><a href="mailto:info@it2bsns.ru">info@it2bsns.ru</a></div>
      </div>
      <div class="contactus__form">
        <form class="form form_grid" action="send.php">
          <input type="hidden" name="subject" value="форма в футоре"/>
          <input type="hidden" name="notspam" value=""/>
          <div class="form__row form__row_required">
            <input type="text" name="name" required="required" placeholder="Ваше имя" autocomplete="off"/>
            <div class="form__invalid"><span></span></div>
          </div>
          <div class="form__row form__row_required">
            <input class="tel" type="text" name="tel" required="required" placeholder="Телефон" autocomplete="off" inputmode="tel"/>
            <div class="form__invalid"><span> </span></div>
          </div>
          <div class="form__row form__row_full">
            <textarea type="text" name="message" placeholder="Задайте вопрос" autocomplete="off"></textarea>
          </div>
          <div class="form__row form__row_full form__row_button form__row_mb0">
            <button class="btn" type="submit"><span>Отправить</span></button>
            <div class="form__privacy"><span>Мы надежно храним ваши данные, вот <a href="#" target="_blank">условия</a> и <a href="#" target="_blank">политика конфендициальности</a></span></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end contactus-->