block variable
    -var path = '';
    //- -var page = true;
    //- -var header_class = 'header_light';
    //- -var header_class = 'header_dark';

    -var wrapper_class = 'wrapper_dark'; // wrapper_dark, wrapper_light

    -var video_bg = false;
    -var contactus = false;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")

        link(rel="stylesheet", type="text/css", href=path + "css/style.css")
    body

        //- begin preloader
        .preloader__wrap#preloader
            .preloader
        //- end preloader

        if video_bg
            .home_page_bg
                video.video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                    source(src="../../media/waves.mp4" type="video/mp4")
                    //- source(src="media/main-video.webm" type="video/webm")
                    //- source(src="media/main-video.m4v" type="video/mp4")
                    //- source(src="media/main-video.ogv" type="video/ogg")

        .wrapper#wrapper(class=""+wrapper_class+"")

            include header.pug

            main.main_content
                block content

                if contactus
                    include contactus.pug

            include footer.pug





            //- begin toTop
            //- .toTop
            //-     a(href="#wrapper") 
            //-         i.icon_to_top

            //- end to

            include modal.pug

            include scripts.pug
