extends ../../layout/layout.pug

block variable
    -var path = '../../';


block content
    // begin ourwork
    section#ourwork.ourwork.section


        .ourwork__top
            .container_center
                ul.ourwork__nav.list
                    each item in ['Инфраструктурные решения', 'Информационная безопасность', 'Консалтинг' ]
                        li
                            a(href="#")
                                span=item 
                                i.icon_arrow_right 

        .ourwork__main
            .ourwork__video
                video.video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                    source(src="../../media/main.mp4" type="video/mp4")
                    //- source(src="media/main-video.webm" type="video/webm")
                    //- source(src="media/main-video.m4v" type="video/mp4")
                    //- source(src="media/main-video.ogv" type="video/ogg")
            .container_center
                .ourwork__caption
                    .ourwork__tag
                        span >
                        span \
                    h1.ourwork__title
                        span Просто о сложном
                .section__text
                    span Предлагаем комплексные решения в области IT и информационной безопасности, консультируем в области соблюдения требований регуляторов и стандартов, а также оказываем техническую поддержку по всем представленным направлениям.


        .ourwork__bottom
            .container_center
                .ourwork__content
                    .section__title
                        span Наша работа
                    .section__text
                        span Ключевыми направлениями нашей работы являются оказание услуг и поставка товаров как в области IT-технологий, так и в области информационной безопасности. Кроме того – это консалтинг в области соблюдения требований регуляторов и стандартов, а также техническая поддержка по всем представленным направлениям.

                .ourwork__list
                    .ourwork__label
                        span Что мы можем для вас сделать:
                    ul.list
                        li
                            .pulse( style="--i:0;")
                            span Повысть эффективность IT инфраструктуры
                        li
                            .pulse( style="--i:1;")
                            span Предотвратить хищение ваших денег и денег клиентов
                        li
                            .pulse( style="--i:2;")
                            span Обеспечить конфендициальность данных
                        li
                            .pulse( style="--i:3;")
                            span Привести в соответствие с законами РФ вашу работу
                        li
                            .pulse( style="--i:4;")
                            span Увеличить вашу прибыль
                        li
                            .pulse( style="--i:5;")
                            span Совместно опередить ваших конкурентов

    // end ourwork



    // begin principle
    section#principle.principle.section.lines
        .lines__wrap
            .lines__list
                span
                span
                span

        .container_center
            .principle__caption
                h2.section__title
                    span ПРИНЦИПЫ айтуби
                .section__text
                    span Наша Команда в первую очередь — это высококвалифицированные IT-специалисты, а не просто «хорошие».
            .principle__list.counter-wrap
                each item in ['Непрерывно следим за развитием IT-рынка', 'Обладаем широкой линейкой продуктов, услуг и сервисов.', 'Непрерывно обучаем наш персонал новым технологиям.', 'Пристально следим за графиком загрузки наших инженеров.' ]

                    .principle__item.counter-item
                        .principle__number
                            span.counter-el
                        .section__text
                            span=item

    // end principle

    // begin target
    section#target.target.section
        .rotation
        .container_center
            .target__content
                .target__left
                    h2.section__title
                        span ЦЕЛИ НАШЕЙ<br> КОМПАНИИ
                    ul.list
                        each item in ['Защитить ваши ценности', 'Преумножить ваши достижения', 'Обеспечить ваше безопасное будущее', ]
                            li
                                span!=item


                .target__right
                    .target__label
                        span «Относись к клиенту, как к индивидуальности»
                    ul.list
                        li
                            span При создании компании «Айтуби» нашими неизменными учредителями было принято правило, сохраняющееся и на сегодняшний день



    // end target

    // begin system
    section#system.system.section
        .container_center
            .system__top
                h2.section__title
                    span системный интегратор<br> полного цикла
                .system__list
                    each item in [ {deley: '0', text: 'Проектирование'}, {deley: '1', text: 'Поставка решений'}, {deley: '2', text: 'Интеграция'}, {deley: '3', text: 'Тех. поддержка 24/7'},]
                        .system__item
                            .pulse( style="--i:"+deley.tetx+";")
                            .system__text
                                span=item.tetx
            .system__bottom
            .system__content
                .system__left
                .system__right

    // end system









    //- // begin form
    //- section#form.form.section
    //-     .container_center
    //-         .form__content
    //-             h1.form__title Подать заявку на лизинг
    //-             i.icon_close    
    //-             form.form.form_grid(action="send.php")
    //-                 //- из какой формы на сайте
    //-                 input(type="hidden" name="subject" value="форма в футоре")
    //-                 //- проверка спама
    //-                 input(type="hidden" name="notspam" value="")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Предмет лизинга*")
    //-                 .form__row
    //-                     input(type="number", placeholder="ИНН")
    //-                 .form__row
    //-                     input(type="number", placeholder="Стоимость")
    //-                 .form__row
    //-                     input(type="text", placeholder="Контактное лицо")
    //-                 .form__row
    //-                     input(type="number", placeholder="Колличество")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Телефон*")
    //-                 .form__row
    //-                     input(type="number", placeholder="Аванс")
    //-                 .form__label
    //-                 .form__row
    //-                     select.select(data-placeholder="Выбор")
    //-                         option(value="")
    //-                         option(value="Значение 1") Значение 1
    //-                         option(value="Значение 2") Значение 2
    //-                         option(value="Значение 3") Значение 3
    //-                         option(value="Значение 4") Значение 4
    //-                 .form__row
    //-                     input(type="email", placeholder="E-mail")
    //-                 .form__row
    //-                     input(type="text", placeholder="Местонахождение")
    //-                 .form__row.form__row_full
    //-                     textarea(type="text", placeholder="Дополнительная информация")
    //-                 .form__row.form__row_full
    //-                     .form__grup
    //-                         label.form__check
    //-                             input(type="radio" name="test" checked="checked" value="test")
    //-                             span radio 1
    //-                         label.form__check
    //-                             input(type="radio" name="test" value="test_2")
    //-                             span radio 2
    //- 
    //-                 .form__row
    //-                     span.form__text Поля, помеченные *, обязательны к заполнения
    //-                 .form__row
    //-                     .button
    //-                         button.btn#btn_didisabled_js(type="submit") Отправить
    //-                 .form__row.form__row_full
    //-                     .form__privacy
    //-                         label.form__check
    //-                             input#check_checked(type="checkbox" checked="checked")
    //-                             span Прочитал(-а) Пользовательское соглашение и соглашаюсь с <a href="#" target="_blank">политикой обработки персональных данных</a>
    //- // end form


    //- // begin tabsPreview
    //- section#tabsPreview.tabsPreview.section
    //-     .container_center
    //-         h2.section__title tabs Preview
    //-         .tabsPreview__content
    //-             .tabs__wrapper
    //-                 .tabs
    //-                     .tab Вкладка 1
    //-                     .tab Вкладка 2
    //-                     .tab Вкладка 3
    //-                 .tabs__content
    //-                     .tab__item Содержимое 1
    //-                     .tab__item Содержимое 2
    //-                     .tab__item Содержимое 3
    //- 
    //- // end tabsPreview
