extends layout/layout.pug

block content
    br
    br
    br
    // begin projectNaw
    section#projectNaw.projectNaw.section(style="color: #fff;")
        .container_center
            h2.section__title
                span Навигация по проекту
            ul(style="font-size:1.25em;")
                li
                    a(href="../pages/home/")(style="color: #fff;") Главная 
                li
                    a(href="../pages/decision/")(style="color: #fff;") Решения 
                li
                    a(href="../pages/group/")(style="color: #fff;") IT Решения 
                //- li
                //-     a(href="../pages/contacts/") Контакты

    // end projectNaw


    // begin projectBtn
    section#projectBtn.projectBtn.section(style="color: #fff;")
        .container_center
            h2.section__title
                span Кнопки
            br
            .section__content
                button.btn
                    span Отправить
                br
                br
                button.btn(disabled) 
                    span Отправить
                br
                br
                button.btn.btn_transparent
                    span хорошо
                br
                br
                button.btn.btn_transparent(disabled)
                    span хорошо

    // end projectBtn

    // begin projectModal
    section#projectModal.projectModal.section(style="color: #fff;")
        .container_center
            h2.section__title
                span Модальные окна
            br
            br
            .section__content
                a.btn.btn_transparent.show_modal_js(href="#success") 
                    span Успех
                br
                br
                a.btn.btn_transparent.show_modal_js(href="#error")
                    span Ошибка
                br
                br
                a.btn.btn_transparent.show_modal_js(href="#write")
                    span Напишите нам
                br
                br


    // end projectModal
