extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = true;
    -var wrapper_class = 'wrapper_light'; // wrapper_dark, wrapper_light


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .aioseo-back.mobile
                .aioseo-breadcrumbs
                    a(href="#") Назад

            .aioseo-breadcrumbs.desktop
                span.aioseo-breadcrumb
                    a(href="#") Главная

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb
                    a(href="#") Новости

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb Одна новость

    // end breadcrumbs 

    // begin single
    //- section#single.single.single_news.section.section_first.pb-0
    //-     .container_center
    //-         .single__wrap
    //- 
    //-             .single__main
    //-                 .single__inner
    //-                     h1.section__title.section__title_primary.animate-js(data-aos="fade-up" data-aos-delay="400")
    //-                         span СКУД — Системы контроля и управления доступом
    //-                     .single__content
    //- 
    //-                         p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.
    //- 
    //-                         p Ограничение доступа происходит на основе уникальных персональных признаков. Наиболее распространенным способом идентификации личности в СКУД является считывание кодов электронной карты (электронного ключа). СКУД марки ТСС позволяет проводить идентификацию людей практически по любому признаку, которые обеспечивают современные аппаратные средства (считыватели смарт-карт, биометрические считыватели). Кроме непосредственно ограничения доступа СКУД решает следующие задачи:
    //- 
    //-                         ul
    //-                             li Занесение и изменение данных о владельцах электронных ключей, в том числе и с автоматическим распознаванием документов, удостоверяющих личность.
    //-                             li Мониторинг и визуализация работы системы (информация о проходах пользователей системы, сообщения о несанкционированном доступе и прочее) в режиме реального времени.
    //-                             li Хранение информации по системе в базе данных.
    //-                             li Генерация отчетов (рабочее время, нарушения, тревожные события и другие).
    //-                             li Импорт и экспорт данных.
    //-                             li Организация контроля доступа посетителей.
    //-                             li Организация абонементного обслуживания.
    //-                             li Формирование и печать пропусков.
    //-                             li Специальные режимы (эвакуация персонала, столовая, лифты, парковка, контроль выдачи ключей и прочее).
    //-                             li Обмен данными с различными корпоративными системами (безопасности, бухгалтерскими, кадровыми, производственными и прочими).
    //- 
    //- 
    //- 
    //- 
    //- 
    //- 
    //-             .single__aside
    //-                 .aside
    //-                     .aside__item
    //-                         .aside__title
    //-                             span Другие новости по теме
    //-                         ul.aside__list
    //-                             each item in ['СКУД Системы контроля и управления доступом', 'Конечные рабочие станции', 'Телефония', 'Видеоконференцсвязь ВКС', 'ИБП', 'Вендора РФ, импортозамещение', 'Колл-центры', 'Мониторинг', 'Резервное копирование', 'Высокопроизводительные кластеры СХД', 'Системы доставки приложений/контента', 'Сервера и серверные решения', 'Частные облака, SDN и управление ими', 'Виртуализация, VDI, контейнеризация', 'Сетевое оборудование, сети передачи данных',  ]
    //-                                 li
    //-                                     a(href="#")=item

    // end single


    // begin single
    section#single.single.section.section_first
        .container_center
            h1.section__title.section__title_primary.animate-js(data-aos="fade-up" data-aos-delay="400")
                span Пример новости
            .single__content

                p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.

                p Ограничение доступа происходит на основе уникальных персональных признаков. Наиболее распространенным способом идентификации личности в СКУД является считывание кодов электронной карты (электронного ключа). СКУД марки ТСС позволяет проводить идентификацию людей практически по любому признаку, которые обеспечивают современные аппаратные средства (считыватели смарт-карт, биометрические считыватели). Кроме непосредственно ограничения доступа СКУД решает следующие задачи:

                ul
                    li Занесение и изменение данных о владельцах электронных ключей, в том числе и с автоматическим распознаванием документов, удостоверяющих личность.
                    li Мониторинг и визуализация работы системы (информация о проходах пользователей системы, сообщения о несанкционированном доступе и прочее) в режиме реального времени.
                    li Хранение информации по системе в базе данных.
                    li Генерация отчетов (рабочее время, нарушения, тревожные события и другие).
                    li Импорт и экспорт данных.
                    li Организация контроля доступа посетителей.
                    li Организация абонементного обслуживания.
                    li Формирование и печать пропусков.
                    li Специальные режимы (эвакуация персонала, столовая, лифты, парковка, контроль выдачи ключей и прочее).
                    li Обмен данными с различными корпоративными системами (безопасности, бухгалтерскими, кадровыми, производственными и прочими).

                p СКУД может устанавливаться на объекты любого объема и сложности – от небольших офисов до крупных предприятий, как локальных, так и располагающихся на разных территориях.

                p СКУД в целом – это программно-аппаратный комплекс, который включает в себя электронное оборудование и программное обеспечение, и который функционирует с использованием персональной вычислительной техники, операционных сред, локальных сетей. Основа комплекса – интеллектуальная система управления, состоявшая из управляющих электронных блоков – контроллеров СКУД, и программного обеспечения, многократно расширяющего возможности системы.

                h2 Детально о технологии

                p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.



    // end single

    // begin news
    section#news.news.section
        .container_center
            .news__caption
                h2.section__title
                    span Другие новости по теме

                .news__arrows
                    i.icon_arrow_left
                    i.icon_arrow_right

            .news__slider       
                .swiper.swiper_news_js
                    .swiper-wrapper
                        each item in ['', '', '','', '', '','', '', '','', '', '', ]
                            .swiper-slide
                                a.news__content(href="#")
                                    .news__date
                                        span 25/01/2023
                                    .news__title
                                        span Данные клиентов puma выставлены на продажу
                                    .news__excerpt
                                        span Компания допустила масштабную утечку данных, теперь они выставлены на продажу.
                                    .news__arrow
                                        i.icon_arrow_right


            .swiper__dotted.news_dotted_js.mobile_lg

    // end news
