extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var header_class = 'header_light'; // header_dark
    -var video_bg = false;
    -var contactus = true;

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .aioseo-breadcrumbs
                span.aioseo-breadcrumb
                    a(href="#") Главная

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb
                    a(href="#") Решения

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb
                    a(href="#") IT-Решения

                span.aioseo-breadcrumb-separator •

                span.aioseo-breadcrumb СКУД Системы контроля и управления доступом


    // end breadcrumbs 

    // begin single
    section#single.single.section
        .container_center
            .single__wrap
                .single__aside
                .single__main
                    h1.section__title.section__title_primary
                        span СКУД — Системы контроля и управления доступом
                    .single__content
                        p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.
                        p Ограничение доступа происходит на основе уникальных персональных признаков. Наиболее распространенным способом идентификации личности в СКУД является считывание кодов электронной карты (электронного ключа). СКУД марки ТСС позволяет проводить идентификацию людей практически по любому признаку, которые обеспечивают современные аппаратные средства (считыватели смарт-карт, биометрические считыватели). Кроме непосредственно ограничения доступа СКУД решает следующие задачи:
                        ul
                            li Занесение и изменение данных о владельцах электронных ключей, в том числе и с автоматическим распознаванием документов, удостоверяющих личность.
                            li Мониторинг и визуализация работы системы (информация о проходах пользователей системы, сообщения о несанкционированном доступе и прочее) в режиме реального времени.
                            li Хранение информации по системе в базе данных.
                            li Генерация отчетов (рабочее время, нарушения, тревожные события и другие).
                            li Импорт и экспорт данных.
                            li Организация контроля доступа посетителей.
                            li Организация абонементного обслуживания.
                            li Формирование и печать пропусков.
                            li Специальные режимы (эвакуация персонала, столовая, лифты, парковка, контроль выдачи ключей и прочее).
                            li Обмен данными с различными корпоративными системами (безопасности, бухгалтерскими, кадровыми, производственными и прочими).
                        p СКУД может устанавливаться на объекты любого объема и сложности – от небольших офисов до крупных предприятий, как локальных, так и располагающихся на разных территориях.
                        p СКУД в целом – это программно-аппаратный комплекс, который включает в себя электронное оборудование и программное обеспечение, и который функционирует с использованием персональной вычислительной техники, операционных сред, локальных сетей. Основа комплекса – интеллектуальная система управления, состоявшая из управляющих электронных блоков – контроллеров СКУД, и программного обеспечения, многократно расширяющего возможности системы.
                        h2 Детально о технологии
                        p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.
                        p Ограничение доступа происходит на основе уникальных персональных признаков. Наиболее распространенным способом идентификации личности в СКУД является считывание кодов электронной карты (электронного ключа). СКУД марки ТСС позволяет проводить идентификацию людей практически по любому признаку, которые обеспечивают современные аппаратные средства (считыватели смарт-карт, биометрические считыватели). Кроме непосредственно ограничения доступа СКУД решает следующие задачи:
                        p СКУД может устанавливаться на объекты любого объема и сложности – от небольших офисов до крупных предприятий, как локальных, так и располагающихся на разных территориях.
                        p СКУД в целом – это программно-аппаратный комплекс, который включает в себя электронное оборудование и программное обеспечение, и который функционирует с использованием персональной вычислительной техники, операционных сред, локальных сетей. Основа комплекса – интеллектуальная система управления, состоявшая из управляющих электронных блоков – контроллеров СКУД, и программного обеспечения, многократно расширяющего возможности системы.

                        .single__img.img
                            img(src="../../img/img.png", alt="alt")

                        h3 Где ипользуется данная технология
                        p Система контроля и управления доступом (СКУД) предназначена для осуществления автоматического и/или автоматизированного ограничения доступа лиц на определенную территорию.
                        p Ограничение доступа происходит на основе уникальных персональных признаков. Наиболее распространенным способом идентификации личности в СКУД является считывание кодов электронной карты (электронного ключа). СКУД марки ТСС позволяет проводить идентификацию людей практически по любому признаку, которые обеспечивают современные аппаратные средства (считыватели смарт-карт, биометрические считыватели). Кроме непосредственно ограничения доступа СКУД решает следующие задачи:
                        p СКУД может устанавливаться на объекты любого объема и сложности – от небольших офисов до крупных предприятий, как локальных, так и располагающихся на разных территориях. pСКУД в целом – это программно-аппаратный комплекс, который включает в себя электронное оборудование и программное обеспечение, и который функционирует с использованием персональной вычислительной техники, операционных сред, локальных сетей. Основа комплекса – интеллектуальная система управления, состоявшая из управляющих электронных блоков – контроллеров СКУД, и программного обеспечения, многократно расширяющего возможности системы.

                    .single__feedback
                        .feedback





    // end single
